[uwsgi]
ini = /etc/uwsgi/vassals/common_config
socket = /var/run/uwsgi/%n.sock
chdir = {{project_path}}
safe-pidfile = /var/run/uwsgi/%n.pid
wsgi-file = deploy/uwsgi.py
processes = 20
max-requests = 10000
max-requests-delta = 100
virtualenv = {{ virtualenv_path }}
logger = {{ uwsgi_logger }}
stats = {{ansible_ssh_host}}:9002
stats-http = true
