[uwsgi]
ini = /etc/uwsgi/vassals/common_config
socket = /tmp/%n.sock
chdir = {{project_path}}
pidfile = /tmp/%n.pid
wsgi-file = deploy/uwsgi.py
processes = 20
virtualenv = {{ virtualenv_path }}
req-logger = file:/var/log/uwsgi/%n_request.log
logger = syslog:can-uwsgi,local7
