[uwsgi]
ini = /etc/uwsgi/vassals/common_config
socket = /tmp/%n.sock
chdir = {{er_project_path}}
pidfile = /tmp/%n.pid
wsgi-file = referral/wsgi.py
processes = 4
virtualenv = {{ er_virtualenv_path }}
logger = file:/var/log/uwsgi/%n.log
