[uwsgi]
ini = /etc/uwsgi/vassals/common_config
socket = /var/run/uwsgi/%n.sock
chdir = {{er_project_path}}
safe-pidfile = /var/run/uwsgi/%n.pid
wsgi-file = referral/wsgi.py
processes = 4
max-requests = 1000
max-requests-delta = 20
virtualenv = {{ er_virtualenv_path }}
logger = {{ er_uwsgi_logger }}
req-logger = {{ er_uwsgi_request_logger }}
stats = {{ansible_ssh_host}}:9003
stats-http = true
