[uwsgi]
uid = www-data
gid = www-data
listen = 10000
socket-timeout = 60
socket-send-timeout = 60
socket-write-timeout = 60
set-placeholder = username={{username}}
set-placeholder = project_directory={{project_path}}
set-placeholder = ruby_shims_path={{ruby_shims_path}}
socket = /tmp/%n.sock
chmod-socket = 666
chdir = %(project_directory)
pidfile = /tmp/%n.pid
wsgi-file = deploy/uwsgi.py
master = true
processes = 20
threads = 2
harakiri = 30
virtualenv = /home/%(username)/Envs/candidate/
stats = 127.0.0.1:9191
vacuum = true
die-on-term = true
daemonize = /var/log/uwsgi/%n.log
env = LANG=en_US.UTF-8
auto-procname = true
env = PATH=%(ruby_shims_path):$(PATH)
env = RUBYPATH=%(ruby_shims_path)/ruby
rbrequire = rubygems
