upstream django {
    server unix:///var/run/uwsgi/{{ project_name }}.sock;
}

server {
    return 444;
}

server {
    server_name interest.shine.com sail.shine.com indiahiring.shine.com apply.shine.com campus.shine.com hindustanjobs.shine.com myjobs.shine.com mumbaijobs.shine.com;
    return 301 $scheme://www.{{ domain }};
}

server {
    listen {{ nginx_port }};
    server_name  {{ domain }};

    rewrite  ^/(.*)$  $scheme://www.$host/$1 permanent;
}

server {
    listen  {{ nginx_port }};
    server_name  .{{ ansible_ssh_host }};

    include common_candidate;
}

server {
    listen          {{ nginx_port }};
    server_name         *.{{ domain }};

    include common_candidate;
}

server {
    listen            {{ ssl_port }} ssl;
    server_name       {{ ssl_domain }};

    ssl on;
    ssl_certificate         /opt/cachingServer/.certs/shine.crt;
    ssl_certificate_key     /opt/cachingServer/.certs/shine.key;

    include common_candidate;
}
