upstream django {
    server unix:///tmp/{{ project_name }}.sock;
}

server {
    listen          {{ nginx_port }};
    server_name         127.0.0.1;
    charset         utf-8;

    root {{ project_path }};

    client_max_body_size            8M;

    location /media {
        alias {{ project_path }}/media;
    }

    location /static {
        alias {{ project_path }}/static;
    }
    location / {
        uwsgi_pass django;
        include uwsgi_params;

        proxy_buffers 128 128k;
        proxy_buffer_size 128k;
	proxy_temp_path /run/ 1 2;

        uwsgi_read_timeout       60;
        uwsgi_send_timeout       60;
        uwsgi_connect_timeout    60;
        send_timeout             60;
    }
}
