uwsgi_pass django;
include uwsgi_params;

uwsgi_buffers 128 128k;
uwsgi_buffer_size 128k;

uwsgi_read_timeout       60;
uwsgi_connect_timeout    60;
uwsgi_send_timeout       60;
send_timeout             60;
