upstream django2 {
    server unix:///tmp/{{ er_project_name }}.sock;
}

server {
    listen 80;
    server_name {{ employee_referral_domain }};

    location / {
        uwsgi_pass django2;
        include common_uwsgi;
    }
}
